.body, p { text-align: center;
   font-weight:bold;
}

.h3 {
    float: right;
}

.zero { height: 400px;
    width: 100%;
    padding: 0%;
}

.um {
    height: 400px;
    width: 40%;
    position: relative;
    padding: 0%;
    float: left;
}

.um img { 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30S;
    height: 80%;
}

.p1 {
    height: 350px;
    width: 40%;
    float: right;
    text-align: left;
}

.dois {
    height: 400px;
    width: 40%;
    position: relative;
    padding: 0%;
    float: left;
} 

.dois img { 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30S;
    height: 80%;
}

.p2 {
    height: 350px;
    width: 40%;
    float: right;
    text-align: left;
    }

.tres {
    height: 400px;
    width: 40%;
    position: relative;
    padding: 0%;
    float: left;
  
}

.tres img { 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30S;
    height: 80%;
}

.p3 {
    height: 350px;
    width: 40%;
    float: right;
    text-align: left;
  
}

.quatro {
    height: 400px;
    width: 40%;
    position: relative;
    padding: 0%;
    float: left;
   
}

.quatro img { 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30S;
    height: 80%;
}

.p4 {
    height: 350px;
    width: 40%;
    float: right;
    text-align: left;
}

.cinco {
    height: 400px;
    width: 40%;
    position: relative;
    padding: 0%;
    float: left;
}

.cinco img { 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30S;
    height: 80%;
}

.p5 {
    height: 350px;
    width: 40%;
    float: right;
    text-align: left;
}